
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
}

.c1{
 border: 1px solid red;
}


.c2{
  border: 1px solid yellow;
}
.c3{
  border: 1px solid green;
}




.navbar {
  /* border: 2px solid red; */
  background-color: #fff !important;

}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid  #565387 ;
}

.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}

.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.navbar a:hover{
  color: #3498db;
}




/* ###### main section ######## */

#header{
  width:100%;
  height: 80vh;
  margin-top: 70px;
}

.contact-main{
  width:100%;
  height: 80vh;
  margin-top: 70px;

}


#header h1{
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: black;
}

#header .brand-name{
  color: #3498db;

}

#header h2{
  color: #484848;
  font-size: 1.5rem;
}

#header .btn-get-started{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 30px;
  border: 2px solid #3498db;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  display: inline-block;
}
#header .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}

.header-image{
  text-align: right;
}
.header-image img{
  text-align: right;
  width: 100%
}

#header .animated{
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
     transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down{

  0%{
    transform: translateY(10px);
 }
 100%{
   transform: translateY(-10px);
 }

}


.card_div img{

  width: 100% ;
  height: 350px;

}

.card_div{

  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.01);
  transition: transform .2s;
  transform: scale(0.9);

}
.card_div:hover{
  transform: scale(1.0);
}




.footer{
  background-color: hsl(0, 0%, 95%) !important;
  /* height: 20vh; */
}